---
- name: Configure Static IP Address for Frigate
  hosts: frigate
  become: yes
  tasks:
    - name: Set wired connection name
      set_fact:
        wired_connection_name: "Wired connection 1"

    - name: Configure static IP address
      command: >
        nmcli connection modify "{{ wired_connection_name }}"
        ipv4.addresses 192.168.88.13/24
        ipv4.gateway 192.168.88.1
        ipv4.dns 192.168.88.11
        ipv4.method manual

    - name: Set DNS search order
      command: nmcli connection modify "{{ wired_connection_name }}" ipv4.dns-search "railwayfan.internal"

    - name: Restart network connection
      command: nmcli connection down "{{ wired_connection_name }}" && nmcli connection up "{{ wired_connection_name }}"

    - name: Notify about reboot
      debug:
        msg: "Rebooting to apply static IP configuration, if necessary."

    - name: Reboot to apply changes
      reboot:
        msg: "Rebooting to apply static IP configuration..."
