---
- name: Update and Upgrade Raspberry Pi OS
  hosts: servers
  become: yes
  tasks:
    - name: Update the package list
      apt:
        update_cache: yes

    - name: Upgrade all packages
      apt:
        upgrade: dist
